* text=auto

# Request that on Windows these text files are checked out with Unix
# line endings. Since Vagrant will share these files directly into the
# VM, and the VM is running Linux, we don't want the scripts having
# Windows line endings.

build-webserver.sh text eol=lf
build-dbserver.sh text eol=lf
build-batchserver.sh text eol=lf